<div style="background-color: blanchedalmond;padding:14px;">
    <h1 style="text-align: center;">{{ 'contactForm.title' | translate}}</h1>
    <form>
      <div class="mb-3">
        <label for="fullNameInput" class="form-label">{{ 'contactForm.title' | translate}}</label>
        <input type="text" class="form-control" id="fullNameInput">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail" class="form-label">{{ 'contactForm.emailAddress' | translate}}</label>
        <input type="email" class="form-control" id="exampleInputEmail">
      </div>
      <div class="mb-3">
        <label for="phoneNumberInput" class="form-label">{{ 'contactForm.phone' | translate}}</label>
        <input type="number" class="form-control" id="phoneNumberInput">
      </div>
      <div class="mb-3">
        <label for="messageInput" class="form-label">{{ 'contactForm.message' | translate}}</label>
        <textarea class="form-control" id="messageInput" rows="3"></textarea>
      </div>
      <button (click)="onFormSubmit()" type="button" class="btn btn-success">{{ 'contactForm.send' | translate}}</button>
    </form>
  </div>