<header>
  <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #2C3E50">
    <div class="container-fluid">
      <a class="navbar-brand" style="color: white" href="#" (click)="handleNavClick($event)">Gacaferi Büroservice</a>
      <button style="background-color: white;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item nav-item-active" style="padding-inline: 10px;">
            <a class="nav-link active" style="color: white" aria-current="page" href="#home" (click)="handleNavClick($event)">Home</a>
          </li>
          <li class="nav-item"  style="padding-inline: 10px;">
            <a class="nav-link" style="color: white" href="#about" (click)="handleNavClick($event)">About</a>
          </li>
          <li  class="nav-item"  style="padding-inline: 10px;">
            <a class="nav-link" style="color: white" href="#contact" (click)="handleNavClick($event)">Contact</a>
          </li>
        </ul>
        <div class="navbar-text">
          <select [(ngModel)]="selectedLanguage" (ngModelChange)="onLanguageChange($event);"  class="form-select">
            <option *ngFor="let lang of languageList" [value]="lang.code">{{lang.label}}</option>
          </select>
        </div>
      </div>

    </div>
  </nav>
</header>
<div id="main" style="margin-top: 40px; display: flex;flex-direction: column;align-items: center;">

  <div class="logo" style="text-align: center; padding: 40px 25px 0px 25px;">
    <img style="width: 100%;height: auto;" src="assets/logo/logo2.jpg" />
  </div>
  <section id="home" style="padding:14px">
    <h5 style="padding:10px;">{{ 'topContent' | translate }}</h5>
    <h1 style="text-align: center;">Content</h1>
     <!-- <div class="row" style="display:flex;justify-content: center;">
      <div class="col-md-6 col-lg-4 mb-2" *ngFor="let category of contentCategories" style="border: 1px solid black; margin: 5px; padding: 10px; display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;border-radius: 5px;cursor:pointer" (click)="openModal(category.id)">
        <fa-icon style="font-size: 80px;" [icon]="category.icon"></fa-icon>
        <h3 style="text-align: center;">{{category.titleKey | translate }}</h3>
      </div>
    </div> -->
    <div class="row" style="gap: 15px;justify-content: center;">
      <div class="col-md-4 col-sm-6" *ngFor="let category of contentCategories" (click)="openModal(category.id)">
        <div class="card text-center" style="border: none; box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);">
          <div class="card-body">
            <fa-icon [icon]="category.icon" style="font-size: 60px; color: #219d84;"></fa-icon>
            <h5 class="card-title mt-3">{{ category.titleKey | translate }}</h5>
          </div>
        </div>
      </div>
    </div>

  </section>


  <section id="about" style="background-color: #219d84;color:white; padding: 30px">
    <h1 style="text-align: center;">About</h1>
    <div class="d-md-flex justify-content-center">
      <div class="col-md-6 col-lg-4 mb-2" style="
      padding: 10px;
      margin: 20px;">
        {{'aboutSection.leftContent' | translate}}</div>
      <div class="col-md-6 col-lg-4 mb-2" style="
      padding: 10px;
      margin: 20px;">
        {{'aboutSection.rightContent' | translate}}</div>
    </div>
  </section>
  
  <section id="contact">
    <app-contact-form (openModal)="openConsentModal()"></app-contact-form>
  </section>
</div>

<footer style="background-color: #2C3E50; padding:14px;color:white">
  <div class="d-md-flex">
    <div style="flex:1;text-align: center;">
      <h1>{{'location.locationTitle' | translate}}</h1>
      <p style="margin-bottom: 0px;">{{'location.streetAddress' | translate}}</p>
      <p style="margin-bottom: 0px;">{{'location.cityAddress' | translate}}</p>
    </div>
    <div style="flex:1;text-align: center;">
      <h1>Web</h1>
      <div style="display: flex; justify-content: center; gap: 15px;">
        <span>
            <fa-icon [icon]="facebookIcon" style="font-size: 30px;"></fa-icon>
        </span>
        <span>
            <fa-icon [icon]="instagramIcon" style="font-size: 30px;"></fa-icon>
        </span>
      </div>
    </div>
  </div>
 
</footer>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{modalTitle | translate}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <markdown [data]="modalContent | translate"></markdown>
      </div>
    </div>
  </div>
</div>

<!-- Consent modal -->
<div class="modal fade" id="consentModal" tabindex="-1" aria-labelledby="consentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="display: flex; justify-content: center; max-width: 100%;">
    <div class="modal-content" style="max-width:80%">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="consentModalLabel">{{'conditionsAndTermsTitle' | translate}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <markdown [data]="'conditionsAndTerms' | translate"></markdown>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
      </div>
    </div>
  </div>
</div>