
// .nav-item-active {
//     background-color: #219d84;
//     border-radius: 8px;
// }

// nav a:hover,
// nav a.active {
//     color: white;
// }

@media (min-width: 600px){
    .logo {
        width: 600px;
    }
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}

.navbar {
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-bottom: 2px solid #cecece;
}

.navbar .nav-item-active {
    background-color: #219d84;;
    border-radius: 5px;
    color: #fff;
}

.card {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

#about {
    background-color: #219d84;;
    color: #fff;
    padding: 40px;
    border-radius: 15px;
    margin: 20px auto;
}


::ng-deep markdown {
    span.red-text {
        color:red;
    }
}
